body{
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    margin: 0rem 1rem 0rem 1rem;
}

.nav-item:hover{
    background-color: rgba(0, 0, 1, 0.05);
    
}
.navbar-brand span i{
    color: purple;
}

.jumbotron{
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;    
    height: 37rem;
    padding: 0;
}

.divider{
    min-height: 80px;
    
}
#cent{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tac{
    padding-top: 7vh;
    text-align: center;
    text-shadow: 1px 1px black;
}
.jumbo-img{
    color: purple;
     font-size: 750%;
}
.card{
    border: none;
}
.footer-txt ul{
    list-style:none;
    padding:0;
    margin-left:50px;
    vertical-align: middle;
}
.footer{
    height: 250px;
}

.footer ul li a{
    color: white;
    font-size: 0.8rem;
    
}
.footer ul p{
    font-size: 0.9rem;
}
.footer ul p i{
    font-size: 1.5rem;
}
.mycol{
    background-image: url("../img/hero.jpg");
}
.footer-txt ul li{
    margin-top: 10px;
}
.footer-txt{
    margin-top: 30px;
}
.footer-img{
    margin-top:35px;
}

.anim { 
	animation: fadeInAnimation ease 1s ;
	animation-iteration-count: 1; 
	animation-fill-mode: forwards; 
} 

@keyframes fadeInAnimation { 
	0% { 
		opacity: 0; 
	} 
	100% { 
		opacity: 1; 
	} 
} 
.card-overlay {
    background: rgba(0, 0, 0, 0.5);    
    height: 37rem;
    
  }
 


  